<div th:fragment="sidebar" class="sidebar" id="sidebar" >
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large hide" id="sidebar-shortcuts-large">
			<button class="btn btn-small btn-success">
				<i class="icon-signal"></i>
			</button>

			<button class="btn btn-small btn-info">
				<i class="icon-pencil"></i>
			</button>

			<button class="btn btn-small btn-warning">
				<i class="icon-group"></i>
			</button>

			<button class="btn btn-small btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!--#sidebar-shortcuts-->

	<ul class="nav nav-list" sec:authorize="isAuthenticated()">
		<li th:if="${#strings.equals(session.loggedUser.role, 'ROLE_EMP')||#strings.equals(session.loggedUser.role, 'ROLE_ADMIN')}">
			<a ui-sref="dashboard" >
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Dashboard </span>
			</a>
		</li>

		<li class="active">
			<a ui-sref="reg_form">
				<i class="icon-edit"></i>
				<span class="menu-text"> Reference Form </span>
			</a>
		</li>
		
		<li th:if="${#strings.equals(session.loggedUser.role, 'ROLE_EMP')||#strings.equals(session.loggedUser.role, 'ROLE_ADMIN')}">
			<a ui-sref="users">
				<i class=" icon-group"></i>
				<span class="menu-text"> Members </span>
			</a>
		</li>
		<li>
			<a ui-sref="my_reference_members">
				<i class=" icon-group"></i>
				<span class="menu-text"> Referred Members </span>
			</a>
		</li>
		<li>
			<a ui-sref="employees" sec:authorize="hasRole('ROLE_ADMIN')">
				<i class="icon-briefcase"></i>
				<span class="menu-text"> Employees </span>
			</a>
		</li>
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>